.body-bg {
    background-repeat: repeat-x;
}

.block-brand-tpl .f-prom {
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='misc/m-apple-bg.png',
            sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='misc/m-apple-bg.png',
    sizingMethod='scale')";
}